@model ClientAgretTarget.ViewModel.MissionManagementVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MissionManagementVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageA)
        </dt>
        
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageA)" alt="@Html.DisplayFor(model => model.ImageA)" style="max-height:500px; max-width:500px;" />;

        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.xA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.xA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusAgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusAgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeRemaining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeRemaining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualExecutionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualExecutionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusMission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusMission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageT)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageT)" alt="@Html.DisplayFor(model => model.ImageT)" style="max-height:500px; max-width:500px;" />;
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.xT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.xT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusTarget)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
